/*--------------------------------------------------------------
# Main Styles
--------------------------------------------------------------*/
:root {
  --woost-primary-color: #337ab7;
  --woost-dark-color: #286090;
  --woost-border-normal: #2e6da4;
  --woost-border-hover: #204d74;
  --woost-loader-top: 16px;
  --woost-loader-size: 24px;
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.woost-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
a.woost-btn,
a.woost-btn:hover {
  text-decoration: none;
}
.woost-btn-primary {
  color: #fff;
  background-color: var(--woost-primary-color);
  border-color: var(--woost-border-normal);
}
.woost-btn-primary:hover {
  color: #fff;
  background-color: var(--woost-dark-color);
  border-color: var(--woost-border-hover);
}
.woost-btn-default {
  color: #6e6e6e;
  background-color: #fff;
  border-color: #ccc;
}
.woost-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.woost-btn[disabled] {
  color: #a7aaad;
  border-color: #dcdcde;
  background: #f6f7f7;
  box-shadow: none;
  cursor: default;
  transform: none;
}
/*--------------------------------------------------------------
# Alerts
--------------------------------------------------------------*/
.woost-alert {
  position: relative;
  font-size: 14px;
  padding: .75rem 1.25rem .9rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.woost-alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.woost-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.woost-alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.woost-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.woost-alert-dismissible {
  padding-right: 35px;
}
.woost-alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.woost-alert-dismissible .close:focus,
.woost-alert-dismissible .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
/*--------------------------------------------------------------
# Loading Animation
--------------------------------------------------------------*/
.woost-loader-cont {
  text-align: center;
}
.woost-loader {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 4px;
  border: 3px solid #d5d5d5;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.woost-loading-txt {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 1px;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.woost-form-cont label {
  display: block;
  margin-bottom: 5px;
}
.woost-form-cont label:not(:first-child) {
  margin-top: 10px;
}
.woost-form-cont small {
  display: block;
  font-style: italic;
  color: #939393;
}
.woost-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.woost-btn {
  margin-top: 15px;
}
.woost-form-cont .woost-loader {
  top: var(--woost-loader-top);
  margin-left: 4px;
  width: var(--woost-loader-size);
  height: var(--woost-loader-size);
}
/*--------------------------------------------------------------
# Facebook Videos
--------------------------------------------------------------*/
.woost-fb-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 178.77%; /* 9:16 Aspect Ratio (divide 16 by 9 = 1.7777) */
}
.woost-fb-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/*--------------------------------------------------------------
# Rows and Columns
--------------------------------------------------------------*/
.woost-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.woost-column {
  flex: 25%;
  max-width: 25%;
  padding: 2px;
}
/* Carousel */
.woost-carousel.woost-row {
  flex-wrap: unset;
  flex-direction: row;
  gap: 5px;
}
.woost-carousel.woost-row .woost-column {
  padding: 0;
}
/*--------------------------------------------------------------
# Paging Nav
--------------------------------------------------------------*/
.woost-paging-nav {
  text-align: center;
  margin-top: 15px;
}
.woost-paging-nav :is(a, span) {
  color: black;
  padding: 7px 16px 11px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 2px;
}
.woost-paging-nav a.active {
  background-color: var(--woost-primary-color);
  color: white;
  border: 1px solid var(--woost-primary-color);
}
.woost-paging-nav a:hover:not(.active) {
  background-color: #f3f3f3;
}
/*--------------------------------------------------------------
# Stream Settings
--------------------------------------------------------------*/
.woost-channel-url {
  margin-top: 7px;
}
/*--------------------------------------------------------------
# Stream Carousel
--------------------------------------------------------------*/
.tns-controls,
.tns-nav,
.tns-nav ~ button {
  display: none;
}
/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/* Medium devices */
@media (max-width: 992px) {
  /* Columns */
  .woost-column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Small devices */
@media (max-width: 576px) {
  /* Columns */
  .woost-column {
    flex: 100%;
    max-width: 100%;
  }
}
